In [221]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing, cross_validation, svm

In [222]:
df1=pd.read_csv("/home/surazz/Desktop/book1.csv")

In [223]:
data=df1[df1["group"]=="SAVING DEPOSIT"]

In [224]:
data['BANK_DATE']=pd.to_datetime(data['BANK_DATE'])

/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [225]:
# data=data.groupby("BANK_DATE")

In [226]:
len(data[data["BANK_DATE"]=="10/6/2018"])

38

In [227]:
data.head(15)

,categ_name,ac_group,ccy,group,TOTAL_AMOUNT,BANK_DATE,INT_RATE
2359,MBL SMART BACHAT KHATA,49.0,NPR,SAVING DEPOSIT,1.168290e+09,2018-10-06,6.0
2360,Elder People Allowance,22.0,NPR,SAVING DEPOSIT,2.999126e+07,2018-09-03,4.0
2361,Elder People Allowance,22.0,NPR,SAVING DEPOSIT,2.862934e+07,2018-09-06,4.0
2362,Special Salary Management Scheme,26.0,NPR,SAVING DEPOSIT,9.263062e+08,2018-10-21,6.0
2363,SAMMAN BACHAT,46.0,NPR,SAVING DEPOSIT,2.602250e+09,2018-10-03,4.5
2364,Saving Account(Salary Min 0),19.0,NPR,SAVING DEPOSIT,1.002211e+09,2018-09-27,6.0
2365,Uchcha Siksha Bachat.,51.0,NPR,SAVING DEPOSIT,8.489961e+07,2018-09-23,4.0
2366,SUNDRY CREDITORS-STAFF VEHICLES,31.0,NPR,SAVING DEPOSIT,1.304336e+07,2018-10-07,4.0
2367,Savings Account,22.0,NPR,SAVING DEPOSIT,3.346118e+09,2018-09-05,4.0
2368,MBL NRN SAVING DEPOSIT.,58.0,NPR,SAVING DEPOSIT,1.137169e+06,2018-10-04,4.0
2369,MACH SAVING DEPOSIT,54.0,NPR,SAVING DEPOSIT,4.615962e+08,2018-09-12,4.0
2370,Partly Disability Allowance,22.0,NPR,SAVING DEPOSIT,4.916655e+05,2018-09-20,4.0
2371,Saving Account (Salary A/C),36.0,NPR,SAVING DEPOSIT,2.741261e+09,2018-09-02,6.0
2372,Uchcha Siksha Bachat.,51.0,NPR,SAVING DEPOSIT,8.484552e+07,2018-09-06,4.0
2373,Elder People Allowance Dalit,22.0,NPR,SAVING DEPOSIT,2.184860e+06,2018-09-14,4.0

In [228]:
data=data.groupby([data.BANK_DATE, 'categ_name'])['TOTAL_AMOUNT'].first().unstack()

In [229]:
data=data.sort_values(by='BANK_DATE')

In [230]:
data['total'] = data.sum(axis=1)

In [231]:
data.total=data.total.apply(int)
data.head()

categ_name,BALBALIKA BACHAT,Children Allowance Dalit,Earthquake Victim NRA,Ekal Nari,Elder People Allowance,Elder People Allowance Dalit,Fully Disability Allowance,MACH SAVING DEPOSIT,MBL NRN SAVING DEPOSIT.,MBL PREMIUM SAVING ACCOUNT,MBL SMART BACHAT KHATA,MBL STUDENT SAVING ACCOUNT,Partly Disability Allowance,Pewa Bachat Account,REMITTANCE BACHAT KHATA,ROYAL SAVING Account-15% TAX RATE,Royal Savings Account,SALARY ACCOUNT (MIN. BAL=200),SAMMAN BACHAT,SAVING ACCOUNT (MIN. BAL=0),SUNDRY CREDITORS-STAFF VEHICLES,Saving Account (CIAA),Saving Account (Disable),Saving Account (Salary A/C Min 100),Saving Account (Salary A/C),Saving Account (Share Holder),Saving Account(Salary Min 0),Saving Super Prem,Savings Account,Savings Account (STAFF),Savings Account(DAM),Savings Account(PF),Savings Account-15% TAX RATE,Special Salary Management Scheme,Staff Overdraft Scheme,Uchcha Siksha Bachat.,Widow Allowance,YUBA BACHAT KHATA,total
BANK_DATE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-08-25,107771980.3,1246688.13,123854192.5,3496052.74,31223529.78,2338465.89,1277945.6,466573146.7,1105575.37,190349160.5,755767038.1,2266805.16,546018.11,4.280148e+09,9.799314e+07,690015.04,425342428.4,20361954.95,2.541483e+09,18619047.82,13274591.32,84398572.55,3333044.97,497150060.2,2.747564e+09,124499348.4,931013068.6,164967.4,3.329218e+09,77356176.84,310405438.1,6125419.8,50408690.56,969686726.8,184191.78,86290524.57,10793531.00,3.046125e+09,21360445213
2018-08-26,107603442.8,1246688.13,122004335.9,3432482.34,31097629.78,2330465.89,1274945.6,463241417.1,1095575.37,192473663.2,750471295.8,2468865.16,526018.11,4.281509e+09,1.000605e+08,690015.04,422574145.7,20317854.95,2.527754e+09,18901941.21,13274591.32,84293284.09,3330044.97,500874976.7,2.744597e+09,114931665.9,957555958.5,164967.4,3.367057e+09,72623491.65,309916256.1,6125419.8,50723210.56,962847764.8,184191.78,86310654.57,10681664.71,3.045848e+09,21382414676
2018-08-27,108544994.8,1242588.13,119814635.9,3414732.34,30743929.78,2265465.89,1250945.6,464335010.3,1095575.37,196073162.5,761375417.4,2445765.16,526018.11,4.285125e+09,1.011498e+08,690015.04,424636024.3,20312354.95,2.544819e+09,18884691.21,13274591.32,84429184.09,3329944.97,499652103.7,2.724842e+09,114719606.7,946689082.9,164967.4,3.369157e+09,72048473.56,309037090.6,6125419.8,50819710.56,960211771.5,184191.78,86333754.57,10655064.71,3.036104e+09,21376523258
2018-08-28,107868317.5,1248588.13,127853985.9,3410732.34,30644222.78,2271465.89,1251596.1,464456018.1,1095575.37,199222297.9,774578688.2,2333074.39,526018.11,4.299418e+09,9.810881e+07,690015.04,424883501.3,20265198.09,2.546880e+09,18680373.85,13274591.32,83450690.09,3396127.97,505096328.1,2.739464e+09,112560087.3,951637336.6,164967.4,3.363519e+09,71170691.20,308559683.9,5988419.8,51821082.56,951811466.3,183166.14,86332183.28,10639970.71,3.044122e+09,21428878181
2018-08-29,107225992.2,1246988.13,127561470.3,3396732.34,30491837.41,2267465.89,1235596.1,460570992.2,1095575.37,202250387.6,766715508.3,2375084.39,511018.11,4.291724e+09,9.600113e+07,690015.04,422187325.6,20017077.09,2.511912e+09,18714450.47,13274591.32,83673006.24,3391227.96,501835574.8,2.748039e+09,110692557.7,959007152.1,164967.4,3.364172e+09,71841772.21,308868007.7,5988419.8,51691667.56,956841503.0,183166.14,86341383.28,10583377.71,3.054066e+09,21398846175

In [232]:
df2=pd.read_csv("/home/surazz/Desktop/all_sum.csv")

In [233]:
df2.total=df2.total.apply(int)

In [234]:
# df2[df2["group"]=="SAVING DEPOSIT"]
data.head()

categ_name,BALBALIKA BACHAT,Children Allowance Dalit,Earthquake Victim NRA,Ekal Nari,Elder People Allowance,Elder People Allowance Dalit,Fully Disability Allowance,MACH SAVING DEPOSIT,MBL NRN SAVING DEPOSIT.,MBL PREMIUM SAVING ACCOUNT,MBL SMART BACHAT KHATA,MBL STUDENT SAVING ACCOUNT,Partly Disability Allowance,Pewa Bachat Account,REMITTANCE BACHAT KHATA,ROYAL SAVING Account-15% TAX RATE,Royal Savings Account,SALARY ACCOUNT (MIN. BAL=200),SAMMAN BACHAT,SAVING ACCOUNT (MIN. BAL=0),SUNDRY CREDITORS-STAFF VEHICLES,Saving Account (CIAA),Saving Account (Disable),Saving Account (Salary A/C Min 100),Saving Account (Salary A/C),Saving Account (Share Holder),Saving Account(Salary Min 0),Saving Super Prem,Savings Account,Savings Account (STAFF),Savings Account(DAM),Savings Account(PF),Savings Account-15% TAX RATE,Special Salary Management Scheme,Staff Overdraft Scheme,Uchcha Siksha Bachat.,Widow Allowance,YUBA BACHAT KHATA,total
BANK_DATE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018-08-25,107771980.3,1246688.13,123854192.5,3496052.74,31223529.78,2338465.89,1277945.6,466573146.7,1105575.37,190349160.5,755767038.1,2266805.16,546018.11,4.280148e+09,9.799314e+07,690015.04,425342428.4,20361954.95,2.541483e+09,18619047.82,13274591.32,84398572.55,3333044.97,497150060.2,2.747564e+09,124499348.4,931013068.6,164967.4,3.329218e+09,77356176.84,310405438.1,6125419.8,50408690.56,969686726.8,184191.78,86290524.57,10793531.00,3.046125e+09,21360445213
2018-08-26,107603442.8,1246688.13,122004335.9,3432482.34,31097629.78,2330465.89,1274945.6,463241417.1,1095575.37,192473663.2,750471295.8,2468865.16,526018.11,4.281509e+09,1.000605e+08,690015.04,422574145.7,20317854.95,2.527754e+09,18901941.21,13274591.32,84293284.09,3330044.97,500874976.7,2.744597e+09,114931665.9,957555958.5,164967.4,3.367057e+09,72623491.65,309916256.1,6125419.8,50723210.56,962847764.8,184191.78,86310654.57,10681664.71,3.045848e+09,21382414676
2018-08-27,108544994.8,1242588.13,119814635.9,3414732.34,30743929.78,2265465.89,1250945.6,464335010.3,1095575.37,196073162.5,761375417.4,2445765.16,526018.11,4.285125e+09,1.011498e+08,690015.04,424636024.3,20312354.95,2.544819e+09,18884691.21,13274591.32,84429184.09,3329944.97,499652103.7,2.724842e+09,114719606.7,946689082.9,164967.4,3.369157e+09,72048473.56,309037090.6,6125419.8,50819710.56,960211771.5,184191.78,86333754.57,10655064.71,3.036104e+09,21376523258
2018-08-28,107868317.5,1248588.13,127853985.9,3410732.34,30644222.78,2271465.89,1251596.1,464456018.1,1095575.37,199222297.9,774578688.2,2333074.39,526018.11,4.299418e+09,9.810881e+07,690015.04,424883501.3,20265198.09,2.546880e+09,18680373.85,13274591.32,83450690.09,3396127.97,505096328.1,2.739464e+09,112560087.3,951637336.6,164967.4,3.363519e+09,71170691.20,308559683.9,5988419.8,51821082.56,951811466.3,183166.14,86332183.28,10639970.71,3.044122e+09,21428878181
2018-08-29,107225992.2,1246988.13,127561470.3,3396732.34,30491837.41,2267465.89,1235596.1,460570992.2,1095575.37,202250387.6,766715508.3,2375084.39,511018.11,4.291724e+09,9.600113e+07,690015.04,422187325.6,20017077.09,2.511912e+09,18714450.47,13274591.32,83673006.24,3391227.96,501835574.8,2.748039e+09,110692557.7,959007152.1,164967.4,3.364172e+09,71841772.21,308868007.7,5988419.8,51691667.56,956841503.0,183166.14,86341383.28,10583377.71,3.054066e+09,21398846175

In [209]:
df = data[['total']]

In [210]:
df.tail(20)

categ_name        total
BANK_DATE
2018-10-03  22655769514
2018-10-04  22798495533
2018-10-05  22806263701
2018-10-06  22853186029
2018-10-07  22856921004
2018-10-08  23089587418
2018-10-09  23327945827
2018-10-10  23407610899
2018-10-11  23413729537
2018-10-12  23400792474
2018-10-13  23399388096
2018-10-14  23427063745
2018-10-15  23263222418
2018-10-16  23304352813
2018-10-17  23644453088
2018-10-18  23720991789
2018-10-19  23792539806
2018-10-20  23828489815
2018-10-21  23862337446
2018-10-22  23908639286

In [211]:
forecast_out = int(7) # predicting 30 days into future
df['Prediction'] = df[['total']].shift(-forecast_out) #  label column with data shifted 30 units up

/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [212]:
df.fillna(0,inplace=True)
df.Prediction=df.Prediction.apply(int)

/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [160]:
X = np.array(df.drop(['Prediction'], 1))
X = preprocessing.scale(X)

/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/surazz/PycharmProjects/LMS/venv/lib/python3.6/site-packages/sklearn/preprocessing/data.py:164: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [215]:
X_forecast = X[-forecast_out:]# set X_forecast equal to last 30
X = X[:-forecast_out] # remove last 30 from X
X

array([[21360445213],
       [21382414676],
       [21376523258],
       [21428878181],
       [21398846175],
       [21393639647],
       [21437355903],
       [21445921341],
       [21445829668],
       [21367332298],
       [21447523679],
       [21473304667],
       [21539324063],
       [21548096733],
       [21550425699],
       [21572201184],
       [21620679684],
       [21761206046],
       [21881709683],
       [21884578484],
       [21902786064],
       [21923329157],
       [21865082169],
       [21926706179],
       [21928922685],
       [21954337391],
       [21980061077],
       [21949231081],
       [21988832645],
       [21980359134],
       [21969571445],
       [22279402831],
       [22272367588],
       [22337820689],
       [22316229028],
       [22341803858],
       [22381700348],
       [22429327089],
       [22541302423],
       [22655769514],
       [22798495533],
       [22806263701],
       [22853186029],
       [22856921004],
       [23089587418],
       [23327945827],
       [23407610899],
       [23413729537],
       [23400792474],
       [23399388096],
       [23427063745],
       [23263222418]])

In [216]:
y = np.array(df['Prediction'])
y = y[:-forecast_out]

In [217]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size = 0.2)

In [218]:
clf = LinearRegression()
clf.fit(X_train,y_train)
# Testing
confidence = clf.score(X_test, y_test)
print("confidence: ", confidence)

confidence:  0.9544487891785487

In [219]:
forecast_prediction = clf.predict(X_forecast)
for i in forecast_prediction:
    print(int(i))

23761512552
24142434657
24228160207
24308296047
24348561092
24386471414
24438330808

In [220]:
df

categ_name        total   Prediction
BANK_DATE
2018-08-25  21360445213  21445921341
2018-08-26  21382414676  21445829668
2018-08-27  21376523258  21367332298
2018-08-28  21428878181  21447523679
2018-08-29  21398846175  21473304667
2018-08-30  21393639647  21539324063
2018-08-31  21437355903  21548096733
2018-09-01  21445921341  21550425699
2018-09-02  21445829668  21572201184
2018-09-03  21367332298  21620679684
2018-09-04  21447523679  21761206046
2018-09-05  21473304667  21881709683
2018-09-06  21539324063  21884578484
2018-09-07  21548096733  21902786064
2018-09-08  21550425699  21923329157
2018-09-09  21572201184  21865082169
2018-09-10  21620679684  21926706179
2018-09-11  21761206046  21928922685
2018-09-12  21881709683  21954337391
2018-09-13  21884578484  21980061077
2018-09-14  21902786064  21949231081
2018-09-15  21923329157  21988832645
2018-09-16  21865082169  21980359134
2018-09-17  21926706179  21969571445
2018-09-18  21928922685  22279402831
2018-09-19  21954337391  22272367588
2018-09-20  21980061077  22337820689
2018-09-21  21949231081  22316229028
2018-09-22  21988832645  22341803858
2018-09-23  21980359134  22381700348
2018-09-24  21969571445  22429327089
2018-09-25  22279402831  22541302423
2018-09-26  22272367588  22655769514
2018-09-27  22337820689  22798495533
2018-09-28  22316229028  22806263701
2018-09-29  22341803858  22853186029
2018-09-30  22381700348  22856921004
2018-10-01  22429327089  23089587418
2018-10-02  22541302423  23327945827
2018-10-03  22655769514  23407610899
2018-10-04  22798495533  23413729537
2018-10-05  22806263701  23400792474
2018-10-06  22853186029  23399388096
2018-10-07  22856921004  23427063745
2018-10-08  23089587418  23263222418
2018-10-09  23327945827  23304352813
2018-10-10  23407610899  23644453088
2018-10-11  23413729537  23720991789
2018-10-12  23400792474  23792539806
2018-10-13  23399388096  23828489815
2018-10-14  23427063745  23862337446
2018-10-15  23263222418  23908639286
2018-10-16  23304352813            0
2018-10-17  23644453088            0
2018-10-18  23720991789            0
2018-10-19  23792539806            0
2018-10-20  23828489815            0
2018-10-21  23862337446            0
2018-10-22  23908639286            0